# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

In [3]:
# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anomalia_termica = pd.Series(data = dados)
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:
# seu código aqui
anos = [1900,1920,1940,1960,1980,2000,2020]
anomalia_termica = pd.Series(data = dados, index = anos)
anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
teperatura_dic = pd.Series(dic_temperaturas)
teperatura_dic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [7]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arr

array([[105.50794586, 120.65920259, 110.05427632],
       [106.00625133, 125.5360104 , 104.68393882],
       [ 98.53101098, 115.98870867, 111.66764782],
       [103.31615144,  91.76728282, 114.23087575],
       [ 94.18911247, 101.50424683, 108.29181541],
       [101.4674153 , 110.03504144,  98.21441858],
       [ 98.44333146,  91.59620713, 115.6995279 ],
       [ 82.30736723,  98.2401177 ,  98.78462495],
       [ 90.18798021, 119.6782023 ,  84.5035284 ],
       [100.95417979, 105.23744272, 109.15341219],
       [103.17935161,  82.88975506,  93.98425333],
       [109.10445318,  84.00769529,  98.02048886],
       [ 93.37739323,  79.13877   ,  98.17977565],
       [103.65934261,  88.73881205,  99.8238693 ],
       [ 76.36287443, 107.28260475,  88.03295816],
       [ 91.6619261 , 107.6060492 ,  95.15312768],
       [ 96.22720909, 111.96971243, 110.88639272],
       [ 99.29865117, 101.16898304,  94.84901617],
       [103.59565432,  99.16542617, 109.02816594],
       [ 86.13490356, 105.0810275 , 129.04241629]])

In [9]:
data_aleatorio = pd.DataFrame(arr)
data_aleatorio

             0           1           2
0   105.507946  120.659203  110.054276
1   106.006251  125.536010  104.683939
2    98.531011  115.988709  111.667648
3   103.316151   91.767283  114.230876
4    94.189112  101.504247  108.291815
5   101.467415  110.035041   98.214419
6    98.443331   91.596207  115.699528
7    82.307367   98.240118   98.784625
8    90.187980  119.678202   84.503528
9   100.954180  105.237443  109.153412
10  103.179352   82.889755   93.984253
11  109.104453   84.007695   98.020489
12   93.377393   79.138770   98.179776
13  103.659343   88.738812   99.823869
14   76.362874  107.282605   88.032958
15   91.661926  107.606049   95.153128
16   96.227209  111.969712  110.886393
17   99.298651  101.168983   94.849016
18  103.595654   99.165426  109.028166
19   86.134904  105.081028  129.042416

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [17]:
#seu código aqui
data_aleatorio.columns = ['x1', 'x2', 'x3']
contador = list(map(lambda x: x, range(1,21)))
data_aleatorio.index = contador
data_aleatorio

            x1          x2          x3
1   105.507946  120.659203  110.054276
2   106.006251  125.536010  104.683939
3    98.531011  115.988709  111.667648
4   103.316151   91.767283  114.230876
5    94.189112  101.504247  108.291815
6   101.467415  110.035041   98.214419
7    98.443331   91.596207  115.699528
8    82.307367   98.240118   98.784625
9    90.187980  119.678202   84.503528
10  100.954180  105.237443  109.153412
11  103.179352   82.889755   93.984253
12  109.104453   84.007695   98.020489
13   93.377393   79.138770   98.179776
14  103.659343   88.738812   99.823869
15   76.362874  107.282605   88.032958
16   91.661926  107.606049   95.153128
17   96.227209  111.969712  110.886393
18   99.298651  101.168983   94.849016
19  103.595654   99.165426  109.028166
20   86.134904  105.081028  129.042416

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [29]:
# seu código aqui

data_aleatorio['media'] = data_aleatorio[['x1','x2','x3']].mean(axis=1)#axis=0 é ao longo da linha e axis=1 é na coluna.
data_aleatorio

            x1          x2          x3       media
1   105.507946  120.659203  110.054276  112.073808
2   106.006251  125.536010  104.683939  112.075400
3    98.531011  115.988709  111.667648  108.729122
4   103.316151   91.767283  114.230876  103.104770
5    94.189112  101.504247  108.291815  101.328392
6   101.467415  110.035041   98.214419  103.238958
7    98.443331   91.596207  115.699528  101.913022
8    82.307367   98.240118   98.784625   93.110703
9    90.187980  119.678202   84.503528   98.123237
10  100.954180  105.237443  109.153412  105.115012
11  103.179352   82.889755   93.984253   93.351120
12  109.104453   84.007695   98.020489   97.044212
13   93.377393   79.138770   98.179776   90.231980
14  103.659343   88.738812   99.823869   97.407341
15   76.362874  107.282605   88.032958   90.559479
16   91.661926  107.606049   95.153128   98.140368
17   96.227209  111.969712  110.886393  106.361105
18   99.298651  101.168983   94.849016   98.438883
19  103.595654   99.165426  109.028166  103.929749
20   86.134904  105.081028  129.042416  106.752782

In [32]:
data_aleatorio.iloc[0:3]

           x1          x2          x3       media
1  105.507946  120.659203  110.054276  112.073808
2  106.006251  125.536010  104.683939  112.075400
3   98.531011  115.988709  111.667648  108.729122

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [40]:
n = 103.104770
log_natural = np.log(n)
print("O logaritmo natural de", n, "é:", log_natural)
#código para conferir

O logaritmo natural de 103.10477 é: 4.635745655714084

In [37]:
# seu código aqui
data_aleatorio['log_med'] = np.log(data_aleatorio['media'])
data_aleatorio

            x1          x2          x3       media   log_med
1   105.507946  120.659203  110.054276  112.073808  4.719158
2   106.006251  125.536010  104.683939  112.075400  4.719172
3    98.531011  115.988709  111.667648  108.729122  4.688860
4   103.316151   91.767283  114.230876  103.104770  4.635746
5    94.189112  101.504247  108.291815  101.328392  4.618367
6   101.467415  110.035041   98.214419  103.238958  4.637046
7    98.443331   91.596207  115.699528  101.913022  4.624120
8    82.307367   98.240118   98.784625   93.110703  4.533789
9    90.187980  119.678202   84.503528   98.123237  4.586224
10  100.954180  105.237443  109.153412  105.115012  4.655055
11  103.179352   82.889755   93.984253   93.351120  4.536368
12  109.104453   84.007695   98.020489   97.044212  4.575167
13   93.377393   79.138770   98.179776   90.231980  4.502384
14  103.659343   88.738812   99.823869   97.407341  4.578902
15   76.362874  107.282605   88.032958   90.559479  4.506007
16   91.661926  107.606049   95.153128   98.140368  4.586399
17   96.227209  111.969712  110.886393  106.361105  4.666840
18   99.298651  101.168983   94.849016   98.438883  4.589436
19  103.595654   99.165426  109.028166  103.929749  4.643715
20   86.134904  105.081028  129.042416  106.752782  4.670516